<h4>Edit Service</h4>

<% if @service.errors.any? %>
  <div id="error_explanation">
    <h6>
      <%= pluralize(@service.errors.count, "error") %> prohibited
      this language from being saved:
    </h6>
    <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :service, :url => service_path(@service), method: :patch do |f| %>
  <div class="row">
    <div class="two-thirds column">
        <p>
          <%= f.label :name, 'Name:' %>
          <%= f.text_field :name, :class => 'u-full-width' %>
        </p>

        <p>
          <%= f.label :short_name, 'Short Name:' %>
          <%= f.text_field :short_name, :class => 'u-full-width' %>
        </p>

        <p>
          <%= f.label :language_id, 'Language:' %>
          <%= f.select :language_id, options_for_select([["All", 0]] + language_options, @service.language_id), {}, :class => 'u-full-width' %>
        </p>

        <p>
          <%= f.label :url, 'URL Mask:' %>
          <%= f.text_field :url, :class => 'u-full-width' %>
        </p>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= f.submit 'Save', :class => 'button-primary u-full-width' %>
        </div>
        <div class="one-half column">
          <%= link_to 'Abort', services_path, class: 'button u-full-width', title: 'Go back to overview' %>
        </div>
      </div>
      <%= link_to fa_icon("times") + " Delete", service_path(@service), method: :delete, data: { confirm: 'Are you absolutely certain?' }, title: 'Delete', class: 'button u-full-width' %>

      <p>Here you can add the details of the new service you want to add.</p>
      <p>The URL mask must contain a placeholder where the word is inserted into, specify where this placeholder goes with '{query}'.</p>
    </div>
  </div>
<% end %>
