<% content_for :title, 'Edit Services' %>

<h1>Edit Service</h1>

<%= form_for :service, :url => service_path(@service), html: { method: :patch, class: 'service_form' } do |f| %>
  <div class="row">
    <div class="two-thirds column">
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h6>
            <%= pluralize(@service.errors.count, "error") %> prohibited
            this language from being saved:
          </h6>
          <ul>
            <% @service.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, :class => 'u-full-width' %>

      <%= f.label :short_name, 'Short Name:' %>
      <%= f.text_field :short_name, :class => 'u-full-width' %>

      <%= f.label :language_id, 'Language:' %>
      <%= f.select :language_id, options_for_select([["All", 0]] + language_options, @service.language_id), {}, :class => 'u-full-width' %>

      <%= f.label :url, 'URL Mask:' %>
      <%= f.text_field :url, :class => 'u-full-width' %>

      <p class="warning">
        Looks like your URL Mask does not contain a place holder, {query}. It will probably not work this way.
      </p>

      <label>
        <%= f.check_box :enabled %>
        <span>
          Enable this service for usage when reading text.
        </span>
      </label>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= link_to fa_icon("floppy-o") + ' Save', '', :class => 'button button-primary u-full-width', :onclick => "$('.service_form').submit(); return false;" %>
        </div>
        <div class="one-half column">
          <%= link_to fa_icon("ban") + ' Abort', services_path, class: 'button u-full-width', title: 'Go back to overview' %>
        </div>
      </div>
      <%= link_to fa_icon("times") + " Delete", service_path(@service), method: :delete, data: { confirm: 'Are you absolutely certain?' }, title: 'Delete', class: 'button u-full-width button-delete' %>

      <p>Here you can add the details of the new service you want to add.</p>
      <p>The URL mask must contain a placeholder where the word is inserted into, specify where this placeholder goes with '{query}'.</p>
      <p>For example if looking up the word 'testword' gives you a URL like <u>http://example.com/?q=testword</u>, then you need to put <u>http://example.com/?q={query}</u> as the URL Mask in this form.</p>
    </div>
  </div>
<% end %>
