<% content_for :title, 'Statistics' %>

<div class="row">
  <div class="two-thirds column">
    <h4>Statistics</h4>
  </div>
  <div class="one-third column" style="text-align: right; vertical-align: middle;">
    <% if selected_language %>
      <a href="/statistics" class="toggle-link">
        <%= fa_icon 'language' %> Other Languages
      </a>
    <% end %>
  </div>
</div>

<% if selected_language == nil %>
  <%= render 'texts/language_choice', url_prefix: '/statistics' %>
<% else %>
  <div class="row">
    <div class="two-thirds column">
      <h5>New Words Added (This Week)</h5>
      <canvas id="newWordsThisWeek"></canvas>
      <p>
        <div class="centered">
          You have added <%= number_with_precision @total_new_words_this_week, precision: 0, delimiter: ',' %> <%= "word".pluralize @total_new_words_this_week %> this week so far.
        </div>
      </p>

      <h5>New Words Added (Per Week)</h5>
      <canvas id="newWords"></canvas>
      <p>
        <div class="centered">
          In the last <%= pluralize(@new_words_count, "week") %> you added on average <%= number_with_precision(@new_words_average, precision: 2, delimiter: ',') %> new words per week.
        </div>
        <div class="centered">
          In your best week in the last <%= @new_words_data.count %> weeks, you added <%= number_with_precision @new_words_data.max, precision: 0, delimiter: ',' %> new <%= "word".pluralize @new_words_data.max %>.
        </div>
      </p>

      <h5>New Texts Added (Per Week)</h5>
      <canvas id="newTexts"></canvas>
      <p>
        <div class="centered">
          In the last <%= pluralize(@new_texts_count, "week") %> you added on average <%= number_with_precision(@new_texts_average, precision: 2, delimiter: ',') %> new texts per week.
        </div>
        <div class="centered">
          In your best week in the last <%= @new_texts_data.count %> weeks, you added <%= number_with_precision @new_texts_data.max, precision: 0, delimiter: ',' %> new <%= "text".pluralize @new_texts_data.max %>.
        </div>
      </p>

      <h5>Completed Texts</h5>
      <p>
        <div class="centered">
          You have finished reading a total of <%= number_with_precision @total_read_texts, precision: 0, delimiter: ',' %> <%= "text".pluralize @total_read_texts %> with a combined total word count of <%= number_with_precision @total_read_words, precision: 0, delimiter: ',' %> <%= "word".pluralize @total_read_words %> (can include words more than once).
        </div>
      </p>

      <h5>Words (by Rating)</h5>
      <canvas id="words"></canvas>
      <p>
        <% count = @words_data.each_with_index.map { |k, i| k.to_i * (i + 1) }.reduce(:+).to_f %>
        <% sum = @words_data.map{ |i| i.to_i }.reduce(:+).to_f %>
        <% average = if sum > 0 then count / sum else 0 end %>
        <div class="centered">
          You have rated a total of <%= number_with_precision sum, precision: 0, delimiter: ',' %> <%= "word".pluralize sum %>.
        </div>
        <div class="centered">
          The average rating of a word is: <%= number_with_precision(average, precision: 2) %>
        </div>
      </p>
    </div>
    <div class="one-third column">
      <%= image_tag "exam.png", :class => "u-full-width no-border" %>
    </div>
  </div>

  <script type="text/javascript">
    var fontFamily = "'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial'";
    Chart.defaults.global.scaleFontFamily = fontFamily;
    Chart.defaults.global.tooltipFontFamily = fontFamily;
    Chart.defaults.global.tooltipTitleFontFamily = fontFamily;
    Chart.defaults.global.pointLabelFontFamily = fontFamily;
    Chart.defaults.global.scaleLabel = "<%%= '  ' + value%>";

    Chart.defaults.global.tooltipFillColor = "hsl(211, 52%, 28%)";
    Chart.defaults.global.tooltipFontColor = "#fff";
    Chart.defaults.global.tooltipTemplate = "<%%if (label){%><%%=label%>: <%%}%><%%= value.toLocaleString('en-US') %>";

    var newWordsThisWeekData = {
      labels: [<%= @new_words_this_week_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
      datasets: [
        {
          label: "Number of Words",
          fillColor: "hsl(207, 70%, 61%)",
          strokeColor: "hsl(207, 70%, 50%)",
          data: [<%= @new_words_this_week_data.join ',' %>]
        }
      ]
    };
    var newWordsThisWeekCtx = $("#newWordsThisWeek").get(0).getContext("2d");

    var newWordsData = {
      labels: [<%= @new_words_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
      datasets: [
        {
          label: "Number of Words",
          fillColor: "hsl(207, 70%, 61%)",
          strokeColor: "hsl(207, 70%, 50%)",
          data: [<%= @new_words_data.join ',' %>]
        }
      ]
    };
    var newWordsCtx = $("#newWords").get(0).getContext("2d");

    var newTextsData = {
      labels: [<%= @new_texts_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
      datasets: [
        {
          label: "Number of Texts",
          fillColor: "hsl(207, 70%, 61%)",
          strokeColor: "hsl(207, 70%, 50%)",
          data: [<%= @new_texts_data.join ',' %>]
        }
      ]
    };
    var newTextsCtx = $("#newTexts").get(0).getContext("2d");

    var wordsData = {
      labels: [<%= @words_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
      datasets: [
        {
          label: "Number of Texts",
          fillColor: "hsl(207, 70%, 61%)",
          strokeColor: "hsl(207, 70%, 50%)",
          data: [<%= @words_data.join ',' %>]
        }
      ]
    };
    var wordsCtx = $("#words").get(0).getContext("2d");

    $(document).ready(function() {
      var htmlCanvas = document.getElementById('newWords'),
          context = htmlCanvas.getContext('2d');

      window.addEventListener('resize', resizeCanvas, false);
      resizeCanvas();

      function resizeCanvas() {
        var w = $('.two-thirds').innerWidth(),
            h = Math.round(w / 5 * 3);

        $("#newWords").css({"width" : w, "height": h});
        $("#newWordsThisWeek").css({"width" : w, "height": h});
        $("#newTexts").css({"width" : w, "height": h});
        $("#words").css({"width" : w, "height": h});

        var newWordsChart = new Chart(newWordsCtx).Bar(newWordsData, {
          barStrokeWidth : 0,
          responsive: true,
          maintainAspectRatio: true
        });

        var newWordsThisWeekChart = new Chart(newWordsThisWeekCtx).Bar(newWordsThisWeekData, {
          barStrokeWidth : 0,
          responsive: true,
          maintainAspectRatio: true
        });

        var newTextsChart = new Chart(newTextsCtx).Bar(newTextsData, {
          barStrokeWidth : 0,
          responsive: true,
          maintainAspectRatio: true
        });

        var wordsChart = new Chart(wordsCtx).Bar(wordsData, {
          barStrokeWidth : 0,
          responsive: true,
          maintainAspectRatio: true
        });
      }
    });
  </script>
<% end %>
