<% content_for :title, 'Statistics' %>

<h4>Statistics</h4>

<div class="row">
  <div class="two-thirds column">
    <h5>New Words Added (Per Week)</h5>
    <canvas id="newWords"></canvas>

    <h5>New Texts Added (Per Week)</h5>
    <canvas id="newTexts"></canvas>
  </div>
  <div class="one-third column">
    <% selection = if selected_language then selected_language.name else nil end %>
    <% if language_options(true).count > 0 %>
     <label for="language_statistics">Filter by Language:</label>
     <%= select_tag :language_statistics, options_for_select(['All'] + language_options(true).map { |k| k[0] }, selected: selection), class: 'u-full-width' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    var newWordsData = {
        labels: [<%= @new_words_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
        datasets: [
            {
                label: "Number of Words",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [<%= @new_words_data.join ',' %>]
            }
        ]
    };
    var newWordsCtx = $("#newWords").get(0).getContext("2d");

    var newTextsData = {
        labels: [<%= @new_texts_labels.map{|i| '"' + i + '"'}.join(',').html_safe %>],
        datasets: [
            {
                label: "Number of Texts",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [<%= @new_texts_data.join ',' %>]
            }
        ]
    };
    var newTextsCtx = $("#newTexts").get(0).getContext("2d");

    $(document).ready(function() {
        var htmlCanvas = document.getElementById('newWords'),
            context = htmlCanvas.getContext('2d');

        initialize();

        function initialize() {
            window.addEventListener('resize', resizeCanvas, false);
            resizeCanvas();
        }

        function resizeCanvas() {
            var w = $('.two-thirds').innerWidth(),
                h = w / 3 * 2;
            htmlCanvas.width = w;
            htmlCanvas.height = h;
            $("#image").css({"width" : w, "height": h});

            var newWordsChart = new Chart(newWordsCtx).Bar(newWordsData, {
                barStrokeWidth : 0,
                responsive: true,
                maintainAspectRatio: false
            });

            var newTextsChart = new Chart(newTextsCtx).Bar(newTextsData, {
                barStrokeWidth : 0,
                responsive: true,
                maintainAspectRatio: false
            });
        }
    });
</script>
