<% content_for :title, 'Edit Language Name' %>

<h4>Edit Language Name</h4>

<% if @language.errors.any? %>
  <div id="error_explanation">
    <h6>
      <%= pluralize(@language.errors.count, "error") %> prohibited
      this language from being saved:
    </h6>
    <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :language, :url => language_path(@language), method: :patch do |f| %>
  <div class="row">
    <div class="two-thirds column">
      <p>
        <%= f.label :name, 'Language Name:' %>
        <%= f.text_field :name, :class => 'u-full-width' %>
      </p>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= f.submit 'Save', :class => 'button-primary u-full-width' %>
        </div>
        <div class="one-half column">
          <%= link_to 'Abort', languages_path, class: 'button u-full-width', title: 'Go back to overview' %>
        </div>
      </div>
      <%= link_to fa_icon("times") + " Delete", language_path(@language), method: :delete, data: { confirm: 'Are you absolutely certain?' }, title: 'Delete', class: 'button u-full-width button-delete' %>
      <p>Here you can edit or delete a language from the system. Please be very careful with deleting them as it will currently break references to it in the database if it was used by somebody to classify their texts, probably breaking the system.</p>
    </div>
  </div>
<% end %>
