<% content_for :title, 'Add New Languages' %>

<h4>Add New Languages</h4>

<%= form_for :language, :url => languages_path, html: { class: 'languages_form' } do |f| %>
  <div class="row">
    <div class="two-thirds column">
      <% if @language.errors.any? %>
        <div id="error_explanation">
          <h6>
            <%= pluralize(@language.errors.count, "error") %> prohibited
            this language from being saved:
          </h6>
          <ul>
            <% @language.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :name, 'Language Name:' %>
        <%= f.text_field :name, :class => 'u-full-width' %>
      </p>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= link_to fa_icon("floppy-o") + ' Save', '', :class => 'button button-primary u-full-width', :onclick => "$('.languages_form').submit(); return false;" %>
        </div>
        <div class="one-half column">
          <%= link_to fa_icon("ban") + ' Abort', languages_path, class: 'button u-full-width', title: 'Go back to overview' %>
        </div>
      </div>
      <p>With this form you can add a new language to the system to be used to classify texts and words.</p>
    </div>
  </div>
<% end %>
