<h4>Languages - Add New</h4>

<% if @language.errors.any? %>
  <div id="error_explanation">
    <h6>
      <%= pluralize(@language.errors.count, "error") %> prohibited
      this article from being saved:
    </h6>
    <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="two-thirds column">
    <%= form_for :language, :url => languages_path do |f| %>
      <p>
        <%= f.label :name, 'Language Name:' %><br>
        <%= f.text_field :name, :class => 'u-full-width' %>
      </p>

      <p>
        <%= f.submit 'Add new Language', :class => 'button-primary' %>
        <%= link_to 'Abort', languages_path, class: 'button', title: 'Go back to overview' %>
      </p>
    <% end %>
  </div>
  <div class="one-third column">
    <p>With this form you can add a new language to the system to be used to classify texts and words.</p>
  </div>
</div>
