<% if @user.admin %>
  <% content_for :title, '%s (Admin)' % [@user.name] %>
<% else %>
  <% content_for :title, '%s (User)' % [@user.name] %>
<% end %>

<h4>
  <%= @user.name %>
  <% if @user.admin? %>
    (Admin)
  <% end %>
</h4>

<div class="row">
  <div class="one-third column">
    <div style="text-align: center;">
      <%= image_tag avatar_url(@user), class: 'profile-picture', style: 'margin-bottom: 1em;' %>

      <% if @user == current_user %>
        <a href="<%= edit_user_registration_path %>" class="button u-full-width"><%= fa_icon("user") %> Edit Your Profile</a>
      <% else %>
        <!--
        <% if @is_buddy %>
          <%= link_to fa_icon('minus') + ' Remove As Buddy', '/u/' + @user.id.to_s + '/remove/' + @user.id.to_s, class: 'button u-full-width', data: { confirm: 'Are you absolutely certain?' } %>
        <% else %>
          <a href="/u/<%= @user.id %>/add" class="button u-full-width"><%= fa_icon("plus") %> Mark As Buddy</a>
        <% end %>
        -->
      <% end %>
    </div>
  </div>

  <div class="two-thirds column">
    <p>
      This User has been a member of this website since <%= @user.created_at.strftime("%d %B %Y") %> (<%= ChronicDuration.output( (Time.now - @user.created_at), weeks: true, format: :long, units: 2) %>).
      <% if @words.count > 0 %>
        Since then they have been working on learning and improving their reading skills in <%= @words.map{ |l, w| l }.to_sentence %>.
      <% end %>
    </p>

    <% if @user.about and @user.about.strip != "" %>
      <h6 class="docs-header">About Me</h6>
      <p><%= simple_format @user.about.strip %></p>
    <% end %>

    <% trophy_header = false %>

    <% if @words.count > 0 %>
      <% @words.each { |l, w| %>
        <% if w >= 100 %>
          <% if not trophy_header %>
            <h6 class="docs-header">Trophy Case</h6>
            <% trophy_header = true %>
          <% end %>
          
          <h5 style="margin-bottom: 0; margin-top: 0.6em"><%= l %></h5>
          <div class="row no-wrap" style="margin-top: 0">
            <div class="two columns centered">
              <%= image_tag "ribbon.png", :class => "no-border" %>
            </div>
            <div class="four columns" style="text-align: left">
              <h5 style="margin-bottom: 0; margin-top: 0.5em" title="<%= @user.name %> has added a total of <%= number_with_precision w, precision: 0, delimiter: ',' %> <%= "word".pluralize w %> so far.">
                Level
                <% level = w.to_f/1000.to_f %>
                <% percentage = ((w % 1000).to_f/1000.to_f * 100).round %>
                <% if w < 1000 %>
                  <%= number_with_precision level, precision: 1, delimiter: ',' %>
                <% else %>
                  <%= level.floor %>
                <% end %>
              </h5>
              <div class="progress" title="<%= @user.name %> is <%= percentage %>% to the next level.">
                <div class="current" style="width: <%= percentage %>%;" ></div>
              </div>
              <span style="color: gray;">
                for words added.
              </span>
            </div>
            <div class="two columns centered">
              <%= image_tag "trophy.png", :class => "no-border" %>
            </div>
            <div class="four columns" style="text-align: left">
              <% w_familiar = if @words_familiar[l] then @words_familiar[l] else 0 end %>
              <% percentage = ((w_familiar % 1000).to_f/1000.to_f * 100).round %>
              <h5 style="margin-bottom: 0; margin-top: 0.5em" title="<%= @user.name %> has rated a total of <%= number_with_precision w_familiar, precision: 0, delimiter: ',' %> <%= "word".pluralize w_familiar %> to be familiar to them (rating of three or above).">
                Level
                <% level = w_familiar.to_f/1000.to_f %>
                <% if level >= 0.1 and level < 1 %>
                  <%= number_with_precision level, precision: 1, delimiter: ',' %>
                <% else %>
                  <%= level.floor %>
                <% end %>
              </h5>
              <div class="progress" title="<%= @user.name %> is <%= percentage %>% to the next level.">
                <div class="current" style="width: <%= percentage %>%;" ></div>
              </div>
              <span style="color: gray;">
                for <alias title="Words with a rating of three or above are considered familiar. That is, you probably remember them more often than you forget them.">familiar words</alias>.
              </span>
            </div>
          </div>
        <% end %>
      <% } %>
    <% end %>

    <!--
    <% if @user.buddies.count > 0 %>

      <h6 class="docs-header" style="margin-top: 2em;">Buddies</h6>

      <% @user.buddies.each { |buddy| %>
        <% friend = buddy.destination %>

        <div class="row no-wrap">
          <div class="two columns">
            <a href="/u/<%= friend.id %>" class="image-link">
              <%= image_tag avatar_url(friend), class: 'profile-picture' %>
            </a>
          </div>
          <div class="nine columns" style="text-align: left; overflow: hidden; white-space: nowrap;">
            <h5>
              <a href="/u/<%= friend.id %>">
                <%= friend.name %>
              </a>
            </h5>
          </div>
          <div class="one column" style="text-align: left;">
            <% if @user.id == current_user.id %>
              <h5 style="margin-top: 0.2em">
                <%= link_to fa_icon('trash-o'), '/u/' + friend.id.to_s + '/remove/' + current_user.id.to_s, class: 'image-link', data: { confirm: 'Are you absolutely certain?' } %>
              </h5>
            <% end %>
          </div>
        </div>
      <% } %>
    <% end %>

    -->
  </div>
</div>
