<% content_for :title, 'Replacements' %>

<h4>List of Replacements</h4>

<div class="row">
  <div class="two-thirds column">
    <table class="u-full-width">
      <tr>
        <th>Value</th>
        <th>Replacement</th>
        <th>Language</th>
      </tr>
     
      <% @replacements.each do |replacement| %>
        <tr>
          <td><%= link_to replacement.value, edit_replacement_path(replacement), title: 'Edit Replacement Entry' %></td>
          <td><%= link_to replacement.replacement, edit_replacement_path(replacement), title: 'Edit Replacement Entry' %></td>
          <td><%= replacement.language.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="one-third column">
    <%= link_to fa_icon("plus") + ' Add New', new_replacement_path, class: 'button button-primary u-full-width', title: 'Add a new replacement' %>
    <%= link_to fa_icon("chevron-left") + " Back", settings_path, class: 'button u-full-width', title: 'Back to Settings' %>
  </div>
</div>
