<h4>Welcome!</h4>

<div class="row">
  <div class="two-thirds column">
  	<h6 class="docs-header">What is escrit?</h6>
  	<p>escrit is a language learning tool that supports you in reading texts in a foreign language. After setting up your account, you can import any text you would like to read, be it from a text book, newspaper or from a book.</p>
    <p>Having imported it, escrit allows you to look up words you do not understand in online dictionaries, and keep track of which words you know and how well you know them. You rate words and they will appear color highlighted in your text as well as in all future texts, reminding you of them.</p>
    <p>Through this kind of quick, productive and extensive reading, you will quickly find your vocabulary naturally expand itself without the frustration of utilizing any complicated software or tools such as flashcards which can easily become boring and frustrating to have to use. Instead, jump right in, take an interesting text in your target language and have some fun learning something new.</p>

    <h6 class="docs-header">Screenshots</h6>
    <p>
      <div class="row">
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_1.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_1_thumb.png" %>" /></a>
        </div>
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_2.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_2_thumb.png" %>" /></a>
        </div>
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_3.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_3_thumb.png" %>" /></a>
        </div>
      </div>
      <div class="row">
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_4.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_4_thumb.png" %>" /></a>
        </div>
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_5.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_5_thumb.png" %>" /></a>
        </div>
        <div class="one-third column" class="centered">
          <a href="<%= image_path "screenshots/screen_6.png" %>" data-lightbox="images" class="image-link"><img src="<%= image_path "screenshots/screen_6_thumb.png" %>" /></a>
        </div>
      </div>
    </p>

  	<h6 class="docs-header">What languages are supported?</h6>
  	<p>Languages in which words can be clearly separated into words, based on their usage of space or special characters, can theoretically be used in escrit. As such, languages like Japanese or Mandarin, which do not use space characters, can currently not be supported.</p>
    <p>Languages that use space characters, however, work in general. Currently escrit officially supports the following languages:</p>
    <p><em><%= @languages.map {|l| l.name }.to_sentence %></em></p>
  </div>
  <div class="one-third column centered">
    <%= image_tag "notepad.png" %>
  </div>

  <div class="row">
    <div class="one-half column">
      <h6 class="docs-header">Cookie Policy</h6>
      <p>This website uses cookies and by using it you agree to cookies being saved on your computer. For more information about this, please refer to the <a href="/cookies">Cookie Policy</a>.</p>
    </div>
    <div class="one-half column">
      <h6 class="docs-header">Legal Disclosure</h6>
      <p>As required by German and EU law, you can find legal information about the operator of this website on the <a href="/legal">impressum or legal disclosure page</a>.</p>
    </div>
  </div>
</div>
