<% content_for :title, 'Settings' %>

<h4>More...</h4>

<div class="row">
  <div class="two-thirds column">
    <div class="row">
      <div class="one-third column centered">
        <h5>Settings</h5>
        <a href="<%= edit_user_registration_path %>" class="button u-full-width"><%= fa_icon("pencil") %> Edit Profile</a>
        <a href="/services" class="button u-full-width"><%= fa_icon("cogs") %> Services</a>
      </div>
      <div class="one-third column centered">
        <h5>Tools</h5>
        <a href="/words" class="button u-full-width"><%= fa_icon("list") %> List of Words</a>
      </div>
      <div class="one-third column centered">
        <h5>Community</h5>
        <a href="https://www.reddit.com/r/escrit/" class="button u-full-width" target="_blank"><%= fa_icon("comments") %> Forum</a>
        <a href="/u/<%= current_user.id %>" class="button u-full-width"><%= fa_icon("user") %> User Profile</a>
      </div>
    </div>

    <% if current_user.admin? %>
      <p><h5>Admin Settings</h5></p>
      <div class="row">
        <div class="one-third column centered">
          <a href="/compliments" class="button u-full-width"><%= fa_icon("heart") %> Compliments</a>
        </div>
        <div class="one-third column centered">
          <a href="/languages" class="button u-full-width"><%= fa_icon("flag") %> Languages</a>
        </div>
        <div class="one-third column centered">
          <a href="/replacements" class="button u-full-width"><%= fa_icon("magic") %> Replacements</a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="one-third column centered">
    <%= image_tag "grandma-storytelling.png", :class => "p80 no-border" %>
  </div>
</div>
