<% if @language_name %>
  <% content_for :title, 'List of ' + @language_name + ' Words' %>
<% else %>
  <% content_for :title, 'List of Words' %>
<% end %>

<div class="row">
  <div class="two-thirds column">
    <h4><%= @language_name %> Word List</h4>
  </div>
  <div class="one-third column" style="text-align: right; vertical-align: middle;">
    <% if selected_language != nil %>
      <a href="/words" class="toggle-link">
        <%= fa_icon 'language' %> Other Languages
      </a>
    <% end %>
  </div>
</div>

<% if selected_language == nil %>
  <%= render 'texts/language_choice', url_prefix: '/words' %>
<% else %>
  <div class="row">
    <div class="two-thirds column">
      <% if @words.count == 0 %>
        <% if @search_term == nil || @search_term.split == '' %>
          <p>You seem to have no words in <%= @language_name %> yet. If you want to see your words in a different language, select it in the sidebar.</p>
        <% else %>
          <form action="/words/<%= @language_name.downcase %>" method="get">
            <input type="text" name="q" class="u-full-width" placeholder="Search for a word" value="<%= @search_term %>" autocomplete="off">
          </form>
          <p>No <%= @language_name %> words match your search phrase "<%= @search_term %>".</p>
        <% end %>
      <% else %>
        <form action="/words/<%= @language_name.downcase %>" method="get">
          <input type="text" name="q" class="u-full-width" placeholder="Search for a word" value="<%= @search_term %>" autocomplete="off">
        </form>

        <%= will_paginate @words, class: 'pagination' %>
        <div class="pagination_info">
          <%= page_entries_info @words %>
        </div>
      <% end %>
      <%
        current_date = nil
        open = false
        @words.each { |w|
          w_date = w.created_at.strftime("%F")
          if w_date != current_date
            current_date = w_date
            if open
      %>
          </tbody>
        </table>
          <% end
          open = true %>
          <h5><%= current_date %></h5>
        <table class="u-full-width">
          <thead>
            <th style="width: 40%">Word</th>
            <th style="width: 50%">Note</th>
            <th class="centered">Rating</th>
          </thead>
          <tbody>
      <%
          end
      %>
        <tr>
          <td><%= w.value %><%=  %></td>
          <td><%= w.note %></td>
          <td style="text-align: center"><span class="s<%= w.rating %> word-list-rating" title="<%= [ "Looked it up once.", "This time I'll remember it.", "I'm getting it now.", "Seems easy at this point.", "Know it in my sleep."][w.rating - 1] %>"><%= w.rating %></span></td>
        </tr>
      <% } %>
      <% if open %>
          </tbody>
        </table>
      <% end %>
      <% if @words.count > 0 %>
        <%= will_paginate @words, class: 'pagination' %>
        <div class="pagination_info">
          <%= page_entries_info @words %>
        </div>
      <% end %>
    </div>
    <div class="one-third column centered">
      <%= image_tag "clipboard.png", class: "p80" %>
    </div>
  </div>
<% end %>
