<% content_for :title, 'Edit Category' %>

<%= render 'texts/header', page_title: "Edit Category", mini: true %>

<% if @text.errors.any? %>
  <div id="error_explanation">
    <h5>
      <%= pluralize(@text.errors.count, "error") %> prohibited
      this text from being saved:
    </h5>
    <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :text, url: text_path(@text), html: { method: :patch, class: 'text_form' } do |f| %>
  <%= f.label :category, 'Category' %>
  <%= f.text_field :category, class: 'u-full-width', placeholder: 'Category', autocomplete: :off %>

  <%= f.check_box :hidden, style: 'display: none' %>
  <%= f.check_box :public, style: 'display: none' %>
  <%= f.check_box :bulk_update, style: 'display: none', checked: true %>
  <%= f.text_field :language_id, value: current_language.id, style: 'display: none' %>

  <div class="row">
    <div class="six columns">
      <div class="row no-wrap" style="margin-bottom: 1em;">
        <div class="six columns">
          <a href="#" id="archiveToggle" class="toggle-link">
            <%= fa_icon("toggle-off") %> Archive this text
          </a>
        </div>
        <div class="six columns">
          <% if current_user.admin? %>
            <a href="#" id="publicToggle" class="toggle-link">
              <%= fa_icon("toggle-off") %> Make text public
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="three columns">
      <%= link_to fa_icon("chevron-left") + ' Back', texts_path(@text.language.name.downcase), class: 'button u-full-width', title: 'Go back to overview' %>
    </div>
    <div class="three columns">
      <%= link_to fa_icon("floppy-o") + ' Update Texts', '', :class => 'button button-primary u-full-width', :onclick => "$('.text_form').submit(); return false;" %>
    </div>
  </div>
<% end %>

<hr style="margin: 1em 0">

You are editing the category name and archival status for all <%= @text.language.name %> texts that are currently categorized as '<%= @text.category %>' and set to be <%= if @hidden then "archived" else "not archived" end %><%= if @public then " and public" else "" end %> (<%= @total_texts %> texts in total).

<span id="meta_language" style="display: none;"><%= current_language.name %></span>
