<% content_for :title, 'Edit Text' %>

<h4>Edit Text</h4>

<%= form_for :text, url: text_path(@text), html: { method: :patch, class: 'text_form' } do |f| %>
  <div class="row">
    <div class="two-thirds column">
      <% if @text.errors.any? %>
        <div id="error_explanation">
          <h5>
            <%= pluralize(@text.errors.count, "error") %> prohibited
            this text from being saved:
          </h5>
          <ul>
            <% @text.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="one-third column">
          <%= f.label :language_id %>
          <%= f.select :language_id, options_for_select(language_options, @text.language_id), {}, :class => 'u-full-width' %>
        </div>
        <div class="two-thirds column">
          <%= f.label :category %>
          <%= f.text_field :category, placeholder: "Category", autocomplete: :off, class: 'u-full-width', style: 'margin: 0' %>
        </div>
      </div>

      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Title", autocomplete: :off, :class => 'u-full-width' %>

      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "Content", style: 'height: 18em;', :class => 'u-full-width' %>

      <p>
        <strong>Character Count:</strong>
        <span id="character_count">0</span> / 10,000
      </p>

      <hr style="margin: 1rem 0" />

      <label style="margin: 0; margin-top: 0.3em;">
        <input id="text_bulk_update" name="text[bulk_update]" type="checkbox" value="1">
        <span>Update archive status and rename category for all texts in this category</span>
      </label>

      <%= f.check_box :hidden, style: "display: none" %>
      <%= f.check_box :public, style: "display: none" %>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= link_to fa_icon("floppy-o") + ' Save', '', :class => 'button button-primary u-full-width', :onclick => "$('.text_form').submit(); return false;" %>
        </div>
        <div class="one-half column">
          <%= link_to fa_icon("ban") + ' Abort', text_path(@text), class: 'button u-full-width', title: 'Go back to overview' %>
        </div>
      </div>
      <%= link_to fa_icon("times") + " Delete", text_path(@text), method: :delete, data: { confirm: 'Are you absolutely certain?' }, title: 'Delete', class: 'button u-full-width button-delete' %>

      <div>
        <a href="#" id="archiveToggle" class="toggle-link">
          <%= fa_icon("toggle-" + if @text.hidden then "on" else "off" end) %> Archive this text
        </a>
      </div>
      <% if current_user.admin? %>
        <div>
          <a href="#" id="publicToggle" class="toggle-link">
            <%= fa_icon("toggle-" + if @text.public then "on" else "off" end) %> Make text public
          </a>
        </div>
      <% end %>

      <hr style="margin: 1rem 0" />

      <p>Here you can add a new text to the website that you can then read. Don't worry, texts are not public and will only be visible to you.</p>
      <p>Texts with the same category will be grouped together, which is useful when handling for instance multiple chapters from a book.</p>
      <b>Formatting</b>
      <p>Please see the <a target="_blank" href="/help/format">Formatting Guide</a> for how to format your text with styles or headers, or embed images.</p>
    </div>
  </div>
<% end %>
