<% if selected_language == nil %>
  <% content_for :title, 'Texts' %>
<% else %>
  <% content_for :title, '%s Texts' % [selected_language.name] %>
<% end %>

<h4>Texts</h4>

<div class="row">
  <div class="two-thirds column">
    <% if selected_language == nil %>
      <p>In this section of the website you can add and read texts which you are interested in reading.</p>
      <% if language_options(true).count > 0 %>
        <p>Note that texts are filtered by language, so please select your language in the sidebar to see all the texts you added for that language.</p>
      <% else %>
        <p>It seems like you have not yet added any texts at all yet. If you need inspiration, try looking online for newspapers, short stories, song lyrics or other media.</p>
      <% end %>
    <% else %>
      <% if @texts == {} %>
        <p>It seems like you have not yet added any texts in <%= selected_language.name %> yet. Please feel free to add some that interest you. If you need inspiration, try looking online for newspapers, short stories, song lyrics or other media.</p>
      <% end %>
      <%
        last_category = nil
        @texts.each do |category, texts|
          total_words = texts.map { |t| t.word_count }.inject(:+)
      %>
        <table class="u-full-width">
          <thead>
            <th><%= category %></th>
            <th style="text-align: right"><%= total_words %></th>
          </thead>
          <tbody>
            <% texts.each do |text| %>
              <tr>
                <td>
                  <% if not text.completed %>
                    <alias title="Not all words in this text have been rated yet."><%= fa_icon("square-o") %></alias>
                  <% else %>
                    <alias title="You have worked through this text and rated all the words within it."><%= fa_icon("check-square-o") %></alias>
                  <% end %>
                  <%= link_to text.title, text_path(text) %>
                </td>
                <td style="text-align: right">
                  <%= number_with_precision text.word_count, precision: 0, delimiter: ',' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
  <div class="one-third column">
    <% new_url = if selected_language then "/texts/" + selected_language.name.downcase + "/new" else new_text_path end %>
    <% selection = if selected_language then selected_language.name else nil end %>
    <%= link_to 'Add New', new_url, class: 'button button-primary u-full-width', title: 'Add a new text' %>
    <% if language_options(true).count > 0 %>
     <%= select_tag :language_text, options_for_select(['Filter Language'] + language_options(true).map { |k| k[0] }, selected: selection), class: 'u-full-width' %>
    <% end %>
    <% if selected_language != nil %>
      <% known_word_count = Word.where('rating >= 3 and rating < 6 and language_id = ?', selected_language.id).count %>
      <% word_count = Word.where('rating != 6 and language_id = ?', selected_language.id).count %>
      <% if word_count == 0 %>
        <p>You have no words marked as known (level three or higher) in <%= selected_language.name %> yet, but why not get it started right away and try to work on that?</p>
      <% else %>
         <p>
          You have rated <%= number_with_precision word_count, precision: 0, delimiter: ',' %> <%= selected_language.name %> words, with <%= number_with_precision known_word_count, precision: 0, delimiter: ',' %> marked as known (level three or higher).
          <% if known_word_count >= 500 %>
            Congratulations on your good work thus far!
          <% elsif known_word_count != 0 %>
            Keep it up, you are doing well!
          <% end %>
         </p>
      <% end %>

      <% total_text_count = @texts.map { |c, t| t.count }.inject(:+) %>

      <% if total_text_count == nil %>
        <p>You have not added any <%= selected_language.name %> texts to the website yet, but feel free to add <%= link_to 'add one', new_text_path %> if you want.</p>
      <% else %>
        <p>You have already added <%= pluralize(total_text_count, selected_language.name + " text") %> to the website, but feel free to add <%= link_to 'add a new one', new_text_path %> if you want.</p>
      <% end %>
    <% end %>
  </div>
</div>
