<% if selected_language == nil %>
  <% content_for :title, 'Texts' %>
<% else %>
  <% content_for :title, '%s Texts' % [selected_language.name] %>
<% end %>

<h4><%= if selected_language then selected_language.name + " " else "" end %>Texts<%= if @hidden then " (Archived)" else "" end %><%= if @public then " (Public)" else "" end %></h4>

<div class="row">
  <div class="two-thirds column">
    <% if selected_language == nil %>
      <p>In this section of the website you can add and read texts which you are interested in reading.</p>

      <% if language_options(true).count > 0 %>
        <p>Note that texts are filtered by language, so please select your language in the sidebar to see all the texts you added for that language.</p>
      <% else %>
        <p>It seems like you have not yet added any texts at all yet. If you need inspiration, try looking online for newspapers, short stories, song lyrics or other media.</p>
      <% end %>

    <% else %>

      <% if @texts == {} %>
        <% if @public %>
          <p>It appears that no public texts in <%= selected_language.name %> have been added yet.</p>
        <% elsif not @hidden %>
          <p>It seems like you have not yet added any texts in <%= selected_language.name %> yet. Please feel free to add some that interest you. If you need inspiration, try looking online for newspapers, short stories, song lyrics or other media.</p>
        <% else %>
          <p>You seem to not have any archived texts in <%= selected_language.name %>.</p>
        <% end %>

      <% end %>
      <%
        last_category = nil
        @texts.each do |category, texts|
          total_words = texts.map { |t| t.word_count }.inject(:+)
      %>
        <table class="u-full-width">
          <thead>
            <th><%= category %></th>
            <th style="text-align: right">
              <alias title="Total number of words in the category">
                <%= number_with_precision total_words, precision: 0, delimiter: ',' %>
              </alias>
            </th>
          </thead>
          <tbody>
            <% texts.each do |text| %>
              <tr>
                <td>
                  <% if text.public %>
                    <alias title="This is a public text. Make a copy for you to see its status."><%= fa_icon("star-o") %></alias>
                  <% elsif not text.completed %>
                    <alias title="Not all words in this text have been rated yet."><%= fa_icon("minus") %></alias>
                  <% else %>
                    <alias title="You have worked through this text and rated all the words within it."><%= fa_icon("check") %></alias>
                  <% end %>
                  <%= link_to text.title, text_path(text) %>
                </td>
                <td style="text-align: right">
                  <alias title="Number of words in the text">
                    <%= number_with_precision text.word_count, precision: 0, delimiter: ',' %>
                  </alias>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
  <div class="one-third column">
    <% new_url = if selected_language then "/texts/" + selected_language.name.downcase + "/new" else new_text_path end %>
    <% selection = if selected_language then selected_language.name else nil end %>

    <%= link_to fa_icon("plus") + ' Add New', new_url, class: 'button button-primary u-full-width', title: 'Add a new text' %>

    <% if selected_language and not @public %>

      <%= link_to fa_icon("users") + ' Show Public Texts', "/texts/" + selected_language.name.downcase + "/public", class: 'button u-full-width', title: 'Show public texts.' %>

      <% if selected_language and not @hidden %>
        <%= link_to fa_icon("folder-open-o") + ' Show Archived Texts', "/texts/" + selected_language.name.downcase + "/archive", class: 'button u-full-width', title: 'Show archived texts.' %>
      <% elsif selected_language and @hidden %>
        <%= link_to fa_icon("folder-open-o") + ' Show Active Texts', "/texts/" + selected_language.name.downcase, class: 'button u-full-width', title: 'Show currently active texts.' %>
      <% end %>

    <% elsif selected_language and @public %>

      <%= link_to fa_icon("user") + ' Show Private Texts', "/texts/" + selected_language.name.downcase, class: 'button u-full-width', title: 'Show your private texts.' %>

    <% end %>

    <% if language_options(false).count > 0 %>
     <%= select_tag :language_text, options_for_select(['Filter Language'] + language_options(false).map { |k| k[0] }, selected: selection), class: 'u-full-width' %>
    <% end %>

    <% if selected_language != nil %>

      <% if @word_count == 0 %>
        <p>You have no words marked as known (level three or higher) in <%= selected_language.name %> yet, but why not get it started right away and try to work on that?</p>
      <% else %>
         <p>
          You have rated <%= number_with_precision @word_count, precision: 0, delimiter: ',' %> <%= selected_language.name %> words, with <%= number_with_precision @known_word_count, precision: 0, delimiter: ',' %> marked as known (level three or higher). <b><%= @compliment %></b>
          </p>
      <% end %>

      <% if @total_text_count == 0 %>
        <p>You have not added any <%= selected_language.name %> texts to the website yet, but feel free to add <%= link_to 'add one', new_text_path %> if you want.</p>
      <% else %>
        <p>You have already added <%= pluralize(@total_text_count, selected_language.name + " text") %> to the website<%= if @total_text_count_public > 0 then ' (' + @total_text_count_public.to_s + ' of which are public)' else '' end %>, but feel free to add <%= link_to 'add a new one', new_text_path %> if you want.</p>
      <% end %>

    <% end %>
  </div>
</div>
