<% if selected_language == nil %>
  <% content_for :title, 'Texts' %>
<% else %>
  <% content_for :title, '%s Texts' % [selected_language.name] %>
<% end %>

<% selection = if selected_language then selected_language.name else nil end %>

<div class="row">
  <div class="two-thirds column">
    <h4>
      <% if @hidden %>
        Your Archived
      <% elsif @public %>
        Public
      <% else %>
        Your
      <% end %>
      <% if selected_language %>
        <%= selected_language.name %>
      <% end %>
      Texts
      </h4>
  </div>
  <div class="one-third column" style="text-align: right; vertical-align: middle;">
    <% if selected_language != nil %>
      <a href="/texts" class="toggle-link">
        <%= fa_icon 'language' %> Other Languages
      </a>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="two-thirds column">
    <% if selected_language == nil %>

      <% op = language_options(true).map { |l| l[0] } %>

      <% if op.length > 0 %>
        <h6 class="docs-header">Read in one of your current languages...</h6>
        <p>
          <div class="row">
            <% op.in_groups(4, false).to_a.each { |splice| %>
              <div class="three columns">
                <% splice.each { |lang| %>
                  <%= link_to image_tag('flags/' +  lang.downcase + '.png', style: 'height: 40px; margin-bottom: 0.5em') + '<br>'.html_safe + lang, '/texts/' + lang.downcase, class: 'button u-full-width', style: 'line-height: 1em; height: auto; padding: 1em 0;' %>
                <% } %>
              </div>
            <% } %>
          </div>
        </p>

        <h6 class="docs-header">... or try reading in a new language ...</h6>
      <% else %>
        <h6 class="docs-header">Chose the language in which you want to read something...</h6>
      <% end %>
      <p>
        <div class="row">
          <% @languages.reject{|l| op.include? l.name }.in_groups(4, false).to_a.each { |splice| %>
            <div class="three columns">
              <% splice.each { |lang| %>
                <%= link_to image_tag('flags/' +  lang.name.downcase + '.png', style: 'height: 16px; vertical-align: middle; margin-top: -5px;') + ' ' + lang.name, '/texts/' + lang.name.downcase, class: 'button u-full-width', style: 'padding: 0 1em;; text-align: left;' %>
              <% } %>
            </div>
          <% } %>
        </div>
      </p>

    <% else %>

      <% if @texts == [] %>
        <% if @public %>
          <p>It appears that no public texts in <%= selected_language.name %> have been added yet.</p>
        <% elsif not @hidden %>
          <p>It seems like you have not yet added any texts in <%= selected_language.name %> yet. Please feel free to add some that interest you. If you need inspiration, try looking online for newspapers, short stories, song lyrics or other media.</p>
        <% else %>
          <p>You seem to not have any archived texts in <%= selected_language.name %>.</p>
        <% end %>

      <% end %>
      <%
        last_category = nil
        category_id = 0
        @texts.each do |category, texts|
          category_id += 1
          total_words = texts.map { |t| t.word_count }.inject(:+)
      %>
        <table class="u-full-width listing">
          <thead>
            <th colspan="2"><%= category %></th>
            <th style="text-align: right">
              <alias title="Total number of words in the category">
                <%= number_with_precision total_words, precision: 0, delimiter: ',' %>
              </alias>
            </th>
          </thead>
          <tbody>
            <% text_count = 0 %>
            <% max_text_count = 5 %>
            <% texts.each do |text| %>
              <% text_count += 1 %>

              <% if text_count <= max_text_count %>
                <tr>
              <% else %>
                <tr style="display: none;" class="cat-<%= category_id %>">
              <% end %>

                <td class="centered" style="width: 2.5em; padding-right: 0">
                  <% if text.public %>
                    <alias title="This is a public text. Make a copy for you to see its status."><%= fa_icon 'star' %></alias>
                  <% elsif current_user.native_language_id == selected_language.id %>
                    <alias title="This is your native language, you should know all the words ;)"><%= fa_icon 'check' %></alias>
                  <% elsif not text.completed %>
                    <alias title="Not all words in this text have been rated yet."><%= fa_icon 'minus' %></alias>
                  <% else %>
                    <alias title="You have worked through this text and rated all the words within it."><%= fa_icon 'check' %></alias>
                  <% end %>
                </td>
                <td style="padding-left: 0">
                  <%= link_to text.title, text_path(text) %>
                </td>
                <td style="text-align: right">
                  <alias title="Number of words in the text">
                    <%= number_with_precision text.word_count, precision: 0, delimiter: ',' %>
                  </alias>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if text_count > max_text_count %>
            <div class="centered">
              <a href="#" class="showMoreText" value="<%= category_id %>">
                Show <%= text_count - max_text_count %> more <%= "text".pluralize(text_count - max_text_count) %>
              </a>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="one-third column">
    <% new_url = if selected_language then "/texts/" + selected_language.name.downcase + "/new" else new_text_path end %>
    <% if selection == nil %>
      <%= image_tag "globe.png", class: "u-full-width" %>
    <% else %>
      <div class="button-group">
        <%= link_to fa_icon("plus") + ' Add New Text', new_url, class: 'button button-primary u-full-width', title: 'Add a new text' %>
        <%= link_to fa_icon("magic") + ' Quick Reader', '/texts/' + selected_language.name.downcase + '/reader', class: 'button u-full-width', title: 'Quickly read a text without adding it to the library.' %>
      </div>

      <hr style="margin: 1em 0;" />

      <div class="button-group">
        <% if not @public and not @hidden %>
          <%= link_to 'Your Texts', "/texts/" + selected_language.name.downcase, class: 'button button-primary u-full-width', title: 'Show currently active texts.' %>
        <% else %>
          <%= link_to 'Your Texts', "/texts/" + selected_language.name.downcase, class: 'button u-full-width', title: 'Show currently active texts.' %>
        <% end %>

        <% if @hidden %>
          <%= link_to 'Your Archived Texts', "/texts/" + selected_language.name.downcase + "/archive", class: 'button button-primary u-full-width', title: 'Show archived texts.' %>
        <% else %>
          <%= link_to 'Your Archived Texts', "/texts/" + selected_language.name.downcase + "/archive", class: 'button u-full-width', title: 'Show archived texts.' %>
        <% end %>

        <% if @public %>
          <%= link_to 'Public Texts', "/texts/" + selected_language.name.downcase + "/public", class: 'button button-primary u-full-width', title: 'Show public texts.' %>
        <% else %>
          <%= link_to 'Public Texts', "/texts/" + selected_language.name.downcase + "/public", class: 'button u-full-width', title: 'Show public texts.' %>
        <% end %>
      </div>

    <% end %>

    <% if selected_language != nil %>

      <hr style="margin: 1em 0;" />

      <div class="row no-wrap sidebar-counter">
        <div class="one-half column centered">
          <h4>
            <%= number_with_precision @word_count, precision: 0, delimiter: ',' %>
          </h4>
          <span>
            <%= "word".pluralize @word_count %> added.
          </span>
        </div>
        <div class="one-half column centered">
          <h4>
            <%= number_with_precision @known_word_count, precision: 0, delimiter: ',' %>
          </h4>
          <span>
            <alias title="Words with a rating of three or above are considered familiar. That is, you probably remember them more often than you forget them.">familiar <%= "word".pluralize @known_word_count %></alias>.
          </span>
        </div>
      </div>

      <div class="row no-wrap sidebar-counter">
        <div class="one-half column centered">
          <h4>
            <%= number_with_precision @total_text_count, precision: 0, delimiter: ',' %>
          </h4>
          <span>
            <%= "text".pluralize @total_text_count %> added.
          </span>
        </div>
        <div class="one-half column centered">
          <h4>
            <%= number_with_precision @total_text_count_read, precision: 0, delimiter: ',' %>
          </h4>
          <span>
            <%= "text".pluralize @total_text_count_read %> read.
          </span>
        </div>
      </div>

      <% if @word_count > 0 %>
        <div class="centered" style="margin-top: 1.5em;">
          <b><%= @compliment %></b>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
