<% content_for :title, 'Add New Text' %>

<h4>Add a new Text</h4>

<% if @text.errors.any? %>
  <div id="error_explanation">
    <h6>
      <%= pluralize(@text.errors.count, "error") %> prohibited
      this text from being saved:
    </h6>
    <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :text, url: texts_path do |f| %>
  <div class="row">
    <div class="two-thirds column">
      <%= f.label :language_id %>
      <% if selected_language %>
        <%= f.select :language_id, options_for_select(language_options, selected_language.id), {}, :class => 'u-full-width' %>
      <% else %>
        <%= f.select :language_id, options_for_select(language_options), {}, :class => 'u-full-width' %>
      <% end %>

      <%= f.label :category %>
      <%= f.text_field :category, placeholder: "Category", autocomplete: :off, :class => 'u-full-width' %>

      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Title", autocomplete: :off, :class => 'u-full-width' %>

      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "Content", style: 'height: 15em;', :class => 'u-full-width' %>
    </div>
    <div class="one-third column">
      <div class="row">
        <div class="one-half column">
          <%= f.submit 'Add', :class => 'button-primary u-full-width' %>
        </div>
        <div class="one-half column">
          <% if selected_language %>
            <%= link_to 'Abort', "/texts/" + selected_language.name.downcase, class: 'button u-full-width', title: 'Go back to overview' %>
          <% else %>
            <%= link_to 'Abort', texts_path, class: 'button u-full-width', title: 'Go back to overview' %>
          <% end %>
        </div>
      </div>
      
      <p>Here you can add a new text to the website that you can then read. Don't worry, texts are not public and will only be visible to you.</p>
      <p>Texts with the same category will be grouped together, which is useful when handling for instance multiple chapters from a book.</p>
    </div>
  </div>
<% end %>
