<% content_for :title, 'Quick Reader' %>

<section class="lookup">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h4 id="rword">test</h4>
        <input id="lword" value="test" />
        <div id="links">
          <%=
            @services.each_with_index.map { |service, i|
              "<a t_href='%s' target='%s' title='%s'>%s</a>" % [service.url, service.short_name + '_' + i.to_s, service.name, service.short_name]
            }.join(' – ').html_safe
          %>
        </div>
      </div>
      <div class="four columns" style="vertical-align: middle">
        <div style="text-align: right" id="close-container">
          <span id="close-btn"><span>close</span> <%= fa_icon 'times' %></span>
        </div>
        <div id="buttons">
          <span class="s6" title="Shortcut: Control + 6">/</span>
          <span class="s0" title="Shortcut: Control + 0">0</span>
          <span class="s1" title="Shortcut: Control + 1">1</span>
          <span class="s2" title="Shortcut: Control + 2">2</span>
          <span class="s3" title="Shortcut: Control + 3">3</span>
          <span class="s4" title="Shortcut: Control + 4">4</span>
          <span class="s5" title="Shortcut: Control + 5">5</span>
          <div id="description"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="two-thirds column">
    <h4>Quick Reader</h4>
  </div>
  <div class="one-third column" style="text-align: right; vertical-align: middle;">
    <% if not @no_selected %>
      <a href="/texts" class="toggle-link">
        <%= fa_icon 'language' %> Other Languages
      </a>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="two-thirds column">
    <% if not @no_selected %>
      <textarea style="width: 100%; height: 10em; margin-bottom: 0;" id="preview_text" placeholder="Write or paste your text in here."></textarea>
      <div style="margin: 0 0 1em 0; text-align: right;">
        <%= link_to fa_icon("eye") + ' Read Text', '', :class => 'button button-primary', :id => 'preview_btn' %>
      </div>

      <div id="text" style="margin-bottom: 5em;"></div>
    <% else %>
      <%= render 'texts/language_choice', url_prefix: '/reader' %>
    <% end %>
  </div>
  <div class="one-third column">
    <% if not @no_selected %>
      <%= image_tag 'sidebar/' + selected_language.name.downcase + '.png', class: 'u-full-width' %>

      <hr style="margin: 1em 0;" />
    <% end %>
    <p>The Quick Reader is a way to quickly read a text or a passage using escrit in the same way you would read a normal text, but it does not require you to add or save the text into the system first.</p>
  </div>
</div>

<% if not @no_selected %>
  <script type="text/javascript">
    text_language = '<%= selected_language.name %>';
    no_patch = true;
  </script>
<% end %>
