<% content_for :title, 'Quick Reader' %>

<%= render 'texts/header_language_choice', url: '/reader' %>

<%= render 'texts/header', page_title: "#{current_language.name} Quick Reader", mini: true %>

<%= render 'texts/tagger' %>

<textarea style="width: 100%; height: 10em; margin-bottom: 0;" id="preview_text" placeholder="Write or paste your text in here."></textarea>
<div class="row">
  <div class="nine columns">
    The Quick Reader is a way to quickly read a text or a passage using escrit in the same way you would read a normal text, but it does not require you to add or save the text into the system first.
  </div>
  <div class="three columns">
    <%= link_to fa_icon("eye") + ' Read Text', '', :class => 'button button-primary u-full-width', :id => 'preview_btn' %>
  </div>
</div>
<hr style="margin: 1em 0" />

<div class="row">
  <div class="two columns">
    &nbsp;
  </div>
  <div class="eight columns" id="text">
  </div>
  <div class="two columns">
    &nbsp;
  </div>
</div>

<span id="meta_language" style="display: none;"><%= selected_language.name %></span>
<span id="meta_no_patch" style="display: none;">true</span>
