<% content_for :title, '%s (%s)' % [@text.title, @text.category] %>

<%= render 'texts/tagger' %>

<header class="mini">
  <%= image_tag 'book.png', class: 'larger' %>
  <section>
    <nav>
      <%= link_to fa_icon('chevron-left') + ' Back', texts_path(@text.language.name.downcase), class: 'button', title: 'Go back to overview' %>
      <%= link_to fa_icon('list') + ' Vocab', vocabulary_text_path(@text), class: 'button', title: 'See vocabulary used in this text' %>
      <% if @text.public %>
        <%= link_to fa_icon('clone') + ' Copy', copy_text_path(@text), class: 'button', data: { confirm: 'Do you want to copy this text into your private library?' }, title: 'Make a copy of this text and add it to your personal text library.' %>
      <% end %>
      <% if @text.is_allowed_to_update current_user %>
        <%= link_to fa_icon('pencil') + ' Edit', edit_text_path(@text), class: 'button ', title: 'Edit the text' %>
      <% end %>
    </nav>
    <h1><%= @processed_title %></h1>
    <h6><%= @processed_category %></h6>
  </section>
</header>

<div class="row">
  <div class="two columns">
    &nbsp;
  </div>
  <div class="eight columns">
    <%= @processed_text %>
  </div>
  <div class="two columns">
    &nbsp;
  </div>
</div>

<span id="meta_language" style="display: none;"><%= @text.language.name %></span>
