<% content_for :title, '%s (%s)' % [@text.title, @text.category] %>

<%= render 'texts/tagger' %>

<header class="mini">
  <%= image_tag 'book.png', class: 'larger' %>
  <section>
    <nav>
      <%= link_to fa_icon("chevron-left") + ' Back', texts_path(@text.language.name), class: 'button', title: 'Go back to overview' %>
      <%= link_to fa_icon("list") + ' Vocab', vocabulary_text_path(@text), class: 'button ', title: 'See vocabulary used in this text' %>
      <%= link_to fa_icon("pencil") + ' Edit', edit_text_path(@text), class: 'button ', title: 'Edit the text' %>
    </nav>
    <h1><%= @processed_title %></h1>
    <h6><%= @processed_category %></h6>
  </section>
</header>

<div class="row">
  <div class="two columns">
    &nbsp;
  </div>
  <div class="eight columns">
    <%= @processed_text %>
  </div>
  <div class="two columns">
    &nbsp;
  </div>
</div>

<span id="meta_language" style="display: none;"><%= @text.language.name %></span>
