<% content_for :title, '%s (%s)' % [@text.title, @text.category] %>

<section class="lookup">
  <div class="container">
    <div class="row">
      <div class="two-thirds column">
        <h4 id="rword">test</h4>
        <input id="lword" value="test" />
        <div id="links">
          <%=
            @services.each_with_index.map { |service, i|
              "<a t_href='%s' target='%s' title='%s'>%s</a>" % [service.url, service.short_name + '_' + i.to_s, service.name, service.short_name]
            }.join(' – ').html_safe
          %>
        </div>
      </div>
      <div class="one-third column" style="vertical-align: middle">
        <div style="text-align: right">
          <span id="close-btn"><span>close</span> <%= fa_icon 'times' %></span>
        </div>
        <div id="buttons">
          <span class="s6" title="Shortcut: Control + 6">/</span>
          <span class="s0" title="Shortcut: Control + 0">0</span>
          <span class="s1" title="Shortcut: Control + 1">1</span>
          <span class="s2" title="Shortcut: Control + 2">2</span>
          <span class="s3" title="Shortcut: Control + 3">3</span>
          <span class="s4" title="Shortcut: Control + 4">4</span>
          <span class="s5" title="Shortcut: Control + 5">5</span>
          <div id="description"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<h4><%= @processed_title %></h4>

<div class="row">
  <div class="two-thirds column">
    <%= @processed_text %>
  </div>
  <div class="one-third column">
    <div class="row">
      <div class="one-half column">
        <% if @text.public %>
          <%= link_to fa_icon("chevron-left") + " Back", texts_path + "/" + @text.language.name.downcase + "/public", class: 'button button-primary u-full-width', title: 'Back to Overview' %>
        <% elsif @text.hidden %>
          <%= link_to fa_icon("chevron-left") + " Back", texts_path + "/" + @text.language.name.downcase + "/archive", class: 'button button-primary u-full-width', title: 'Back to Overview' %>
        <% else %>
          <%= link_to fa_icon("chevron-left") + " Back", texts_path + "/" + @text.language.name.downcase, class: 'button button-primary u-full-width', title: 'Back to Overview' %>
        <% end %>
      </div>
      <div class="one-half column">
        <% if @text.is_allowed_to_update current_user and not @text.public %>
          <%= link_to fa_icon("pencil") + " Edit", edit_text_path(@text), class: 'button u-full-width', title: 'Edit the Text' %>
        <% elsif @text.public %>
          <%= link_to fa_icon("clipboard") + " Copy", text_path(@text) + '/copy', class: 'button u-full-width', data: { confirm: 'Do you want to copy this text into your private library?' }, title: 'Make a copy of this text and add it to your personal text library.' %>
        <% end %>
      </div>
      <% if @text.is_allowed_to_update current_user and @text.public %>
        <%= link_to fa_icon("pencil") + " Edit", edit_text_path(@text), class: 'button u-full-width', title: 'Edit the Text' %>
      <% end %>
      <div class="row">
        <div class="one-half column">
          <%= link_to fa_icon("toggle-on") + " Show Colors", '#', class: 'toggle-link u-full-width', title: 'Toggle Colors', id: 'colorToggle' %>
        </div>
        <div class="one-half column">
          <%= link_to fa_icon("toggle-off") + " Underline", '#', class: 'toggle-link u-full-width', title: 'Toggle Underline or Full Color', id: 'underlineToggle' %>
        </div>
      </div>
    </div>
    <strong>Category:</strong> <i><%= @processed_category %></i>
    <div id="stats"></div>
    <% if @text.public %>
      <p>
        <div class="row">
          <div class="three columns">
            <a href="/u/<%= @text.user.id %>" class="image-link">
              <%= image_tag avatar_url(@text.user, 64), class: 'profile-picture u-full-width' %>
            </a>
          </div>
          <div class="nine columns">
            <b>Uploaded by:</b><br />
            <a href="/u/<%= @text.user.id %>"><%= @text.user.name %></a>
          </div>
        </div>
      </p>
    <% end %>
  </div>
</div>

<br /><br />

<script type="text/javascript">
  text_language = '<%= @text.language.name %>';
  updateCounter();
</script>
