<% content_for :title, '%s (%s)' % [@text.title, @text.category] %>

<div class="row">
  <div class="two-thirds column">
    <h4><%= @text.title %></h4>
    <p><i><%= @text.category %></i></p>
    <%= @processed.html_safe %>
  </div>
  <div class="one-third column">
    <%= link_to fa_icon("chevron-left") + " Back", texts_path + "/" + @text.language.name.downcase, class: 'button', title: 'Back to Overview' %>
    <%= link_to fa_icon("pencil") + " Edit", edit_text_path(@text), class: 'button', title: 'Edit the Text' %>
    <div id="stats"></div>

    <section class="lookup">
      <h4 id="rword">test</h4>
      <input id="lword" value="test" />
      <div id="buttons">
        <span class="s6">/</span>
        <span class="s0">0</span>
        <span class="s1">1</span>
        <span class="s2">2</span>
        <span class="s3">3</span>
        <span class="s4">4</span>
        <span class="s5">5</span>
      </div>
      <div id="description"></div>
    </section>
  </div>
</div>

<script type="text/javascript">
  text_language = '<%= @text.language.name %>';
  updateCounter();
</script>
