<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title.html_safe %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
          	<a href="/"><%= image_tag "logo.png", :class => "navbar-logo" %></a>
          </li>
          <% lang = if selected_language then "/" + selected_language.name.downcase else "" end%>
          <% if @text and @text.language %>
            <% lang = "/" + @text.language.name.downcase %>
          <% end %>
          <li class="navbar-item"><a class="navbar-link" href="/">escrit</a></li>
          <% if user_signed_in? %>
            <li class="navbar-item"><a class="navbar-link" href="/texts<%= lang %>">Texts</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/statistics<%= lang %>">Statistics</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/settings">Settings</a></li>
          <% end %>
          <li class="navbar-item" style="float: right;">
            <% if user_signed_in? %>
              <%= link_to fa_icon("sign-out") + " Logout", :destroy_user_session, method: :delete, class: 'navbar-link' %>
            <% else %>
              <%= link_to fa_icon("sign-in") + " Login", new_user_session_path, class: 'navbar-link' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="docs-section" id="intro">
	    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	  </div>
  </div>
</body>
</html>
