<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title.html_safe %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <% if Rails.env.development? %>
    <div class="corner-ribbon top-left sticky dark-blue shadow">Dev Version</div>
  <% end %>

  <div class="container" style="margin-bottom: 6em;">
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
          	<a href="/"><%= image_tag "logo.png", :class => "navbar-logo" %></a>
          </li>
          <% lang = "" %>
          <% if selected_language %>
            <% lang = "/" + selected_language.name.downcase %>
          <% end %>
          <% if @text and @text.language %>
            <% lang = "/" + @text.language.name.downcase %>
          <% end %>
          <% if user_signed_in? %>
            <li class="navbar-item"><a class="navbar-link" href="/home">Home</a></li>
            <li class="navbar-item">
              <% if controller_name == 'texts' and action_name == 'index'  %>
                <% text_url = '/texts' %>
              <% else %>
                <% text_url = '/texts' + lang %>
              <% end %>
              <a class="navbar-link navbar-submenu" href="<%= text_url %>">Reading</a>
              <ul>
                <li class="navbar-item"><a class="navbar-link" href="<%= text_url %>"><%= fa_icon('book') %> Texts</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/reader<%= lang %>"><%= fa_icon('magic') %> Quick Reader</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/statistics<%= lang %>"><%= fa_icon("bar-chart") %> Statistics</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/words<%= lang %>"><%= fa_icon("list") %> Word List</a></li>
              </ul>
            </li>
          <% end %>
          <li class="navbar-item navbar-user">
            <% if user_signed_in? %>
              <%= link_to current_user.name, '/u/' + current_user.id.to_s, class: 'navbar-link navbar-submenu' %>
              <ul>
                <li class="navbar-item"><%= link_to fa_icon("user") + ' Your Profile', '/u/' + current_user.id.to_s, class: 'navbar-link' %></li>
                <li class="navbar-item"><a class="navbar-link" href="/settings"><%= fa_icon("wrench") %> Settings</a></li>
                <li class="navbar-item"><a href="/help" class="navbar-link" ><%= fa_icon("life-ring") %> Help</a></li>
                <li class="navbar-item">
                  <%= link_to fa_icon("sign-out") + " Logout", :destroy_user_session, method: :delete, class: 'navbar-link' %>
                </li>
              </ul>
            <% else %>
              <%= link_to fa_icon("sign-in") + " Login", new_user_session_path, class: 'navbar-link' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="docs-section" id="intro">
	    <%= yield %>
	  </div>
  </div>
  <% if Rails.env.production? %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
